# 项目基础设置
ENV=development
LOG_LEVEL=DEBUG
APP_CONFIG_FILEPATH=config.yaml

# 数据库相关配置
SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/manus

# Redis相关配置
REDIS_HOST=localhost
REDIS_PORT=8001
REDIS_DB=0
REDIS_PASSWORD=


# 沙箱配置
SANDBOX_ADDRESS=
SANDBOX_IMAGE=bram-manus-sandbox
SANDBOX_NAME_PREFIX=bram-manus-sandbox
SANDBOX_TTL_MINUTES=60
SANDBOX_NETWORK=bram-manus-network
SANDBOX_CHROME_ARGE=
SANDBOX_HTTPS_PROXY=
SANDBOX_HTTP_PROXY=
SANDBOX_NO_PROXY=